[user]
  name = bugcloud
  email = bugcloudisco@bugcloud.com
[color]
  ui = true
[alias]
  st = status
  df = diff --word-diff
  co = checkout
  br = branch
  ca = commit -a
  cam = commit -am
  mg = merge --no-ff
  graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  delete-merged-branches = !git branch --merged | egrep -v '\\*|develop|main|master' | xargs git branch -d
[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  ignoreCase = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
[diff]
  colorMoved = default
#[diff "image"]
#  command = git imgdiff
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[pull]
  rebase = true
[rerere]
  enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
